# Godot 4+ specific ignores
.godot/

*.tmp

asp/.answer_set.json

asp/.room_generator_temp.asp

asp/.room_generator_temp_0.asp

asp/.room_generator_temp_1.asp

asp/.room_generator_temp_2.asp

asp/.room_generator_temp_3.asp

asp/.room_generator_temp_4.asp

asp/.room_generator_temp_5.asp

asp/.room_generator_temp_6.asp

asp/.room_generator_temp_7.asp

asp/.room_generator_temp_8.asp

asp/.room_generator_temp_9.asp

asp/.room_generator_temp_10.asp

asp/.room_generator_temp_11.asp

asp/.room_generator_temp_12.asp

asp/.room_generator_temp_13.asp

asp/.room_generator_temp_14.asp

asp/.room_generator_temp_15.asp

asp/.room_generator_temp_16.asp

asp/.room_generator_temp_17.asp

gdatalog/examples/test.asp

asp/spawn_room_generator_temp.asp

asp/place_room_temp.asp

asp/test.asp

asp/place_generic_room_temp.asp

asp/place_starting_room_temp.asp
