# Godot 4+ specific ignores
.godot/

*.tmp

asp/.answer_set.json

asp/.room_generator_temp.asp

asp/.room_generator_temp_0.asp

asp/.room_generator_temp_1.asp

asp/.room_generator_temp_2.asp

asp/.room_generator_temp_3.asp

asp/.room_generator_temp_4.asp

asp/.room_generator_temp_5.asp

asp/.room_generator_temp_6.asp

asp/.room_generator_temp_7.asp

asp/.room_generator_temp_8.asp

asp/.room_generator_temp_9.asp
